@charset "UTF-8";
body {
	font-family: "Yu Gothic", YuGothic, Arial, Helvetica, Arial, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Meiryo, メイリオ, sans-serif;
}

.txt-body, .txt-head, .txt-lead, .txt-subttl{
	color: #35353C;
}

/*================================================
header
==================================================*/
.header {
	width: 100%;
	height: 113px;
	padding: 15px 0;
	top: 0;
	position: fixed;
	z-index: 10;
	display: flex;
	justify-content: center;
	transition: background-color .5s, color .5s;
}

/* headerの色を変える */
.header.change-color {
    background-color: rgb(169 151 128 / 80%);
}

.header a {
	color: #fff;
	text-decoration: none;
	line-height: 1.4;
	letter-spacing: 0.01em;
}

.header_accout-wrap:hover {
	opacity: 0.8;
}

.header_list-pc li:hover {
	opacity: 0.8;
}

.header-logo {
	width: 153px;
}

.header_gnav-pc-wrap, .header_accout-wrap {
	text-align: center;
}

.header_list-pc  {
	list-style: none;
	display: flex;
}

.header_list-pc li {
	margin: 0 18px;
}

.header_accout-wrap {
position: absolute;
right: 0;
margin: 15px 40px 0 0;
}

.header_mypage-txt {
 font-size: 13px;
}

#menu-button {
	display: none;
}

.gnav-sp-wrap {
	display: none;
}



/*================================================
bg-gray
==================================================*/
.bg-gray {
	z-index: -1;
	position: absolute;
	width: 100%;
}

.mainvisual, .service, .price, .footer{
	position: relative;
}
  
.mainvisual .bg-gray {
	background-image: url(../images/bg-1-pc.png);
	top: 87%;
	height: 335px;
	background-position: right;
}

.service .bg-gray {
	background-image: url(../images/bg-2-pc.png);
	top: -4%;
	height: 1606px;
	background-position: center;
}

.price .bg-gray {
	background-image: url(../images/bg-3-pc.png);
	top: -5%;
	height: 863px;
	background-position: center;
}

.footer .bg-gray {
	background-image: url(../images/bg-4-pc.png);
	top: -20%;
	height: 27vw;
}
 


/*================================================
mainvisual
==================================================*/
.mainvisual {
	width: 100vw;
	height: 68vw;
	background-image: url(../images/mainvisual-pc.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
}

.mainvisual_copy-wrap {
	color: #fff;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	width: 80%;
	height: 3.2rem;
}

.mainvisual_content-ttl {
	font-size: 40px;
	font-weight: 600;
	line-height: 1.5;
	letter-spacing: 0.01em;
	text-align: center;
}

.mainvisual_content-txt {
	font-size: 20px;
	font-weight: 400;
	line-height: 1.8;
	letter-spacing: 0.01em;	
	margin-top: 30px;
	text-align: center;
}

/* scrolldown */
.arrowWrap {
	position: absolute;
	right: 0;
	bottom: 0;
	height: 200px
  }
  
  .arrowInner p {
	font-size: 12px;
	text-align: end;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	color: #fff;
  }
  
  .arrow {
	width: 1px;
	height: 100px;
	margin: 50px auto 0;
	background-color: #eee;
	position: relative;
	overflow: hidden;
  }
  
  .arrow::before {
	content: '';
	width: 1px;
	height: 100px;
	margin: 50px auto 0;
	background-color: #A99780;
	position: absolute;
	top: -150px;
	left: 0;
	-webkit-animation: arrow 2.5s ease 0s infinite normal;
	animation: arrow 2.5s ease 0s infinite normal;
  }
  
  @keyframes arrow {
	0% {
	  -webkit-transform: translate3d(-50%, 0, 0);
	  transform: translate3d(-50%, 0, 0);
	}
  
	60% {
	  -webkit-transform: translate3d(-50%, 100px, 0);
	  transform: translate3d(-50%, 100px, 0);
	}
  
	100% {
	  -webkit-transform: translate3d(-50%, 100px, 0);
	  transform: translate3d(-50%, 100px, 0);
	}
  }


/*================================================
about
==================================================*/
.section-inner {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	margin-top: 96px;
}

.about_ttl-en {
	width: 210px;
	display: block;
	margin: 0 auto;
}

.section-ttl {
	font-size: 32px;
	font-weight: 600;
	line-height: 1.5;
	letter-spacing: 0.01em;
	color: #35353C;
	text-align: center;
}

.description {
	font-size: 16px;
	font-weight: 400;
	line-height: 1.8;
	letter-spacing: 0.01em;	
	color: #35353C;
	text-align: center;
	margin-top: 40px;
}

.description span {
	display: block;
}

.about_img-pc {
	width: 960px;
	height: 389px;
	margin: 80px 0;
}

.about_img-sp {
	display: none;
}

.more-link {
	display: block;
	margin: 0 auto;
	width: 280px;
	height: 50px;
	background-color: #35353C;
	color: #fff;
	font-size: 16px;
	letter-spacing: 0.06em;
	font-weight: bold;
	line-height: 50px;
	text-align: center;
	border-radius: 35px;
	text-decoration: none;
}

.more-link:hover {
	opacity: 0.8;
}


/*================================================
service
==================================================*/
.service_ttl-en {
	width: 264px;
	display: block;
	margin: 0 auto;
}


.number {
	width: 100px;
}

.service_container {
	display: flex;
	margin-top: 120px;
}

.service_container-reverse {
	display: flex;
	flex-direction: row-reverse;
	margin-top: 120px;
}

.service_txt-area {
	width: 440px;
}

.txt-lead {
	font-size: 16px;
	font-weight: 600;
	line-height: 1.5;
	letter-spacing: 0.01em;	
}

.txt-subttl {
	font-size: 24px;
	font-weight: 600;
	line-height: 1.5;
	letter-spacing: 0.01em;
}

.underline {
	width: 390px;
}


.txt-body {
	font-size: 14px;
	font-weight: 400;
	line-height: 1.8;
	letter-spacing: 0.01em;
}

.txt-body span {
	display: block;
}

.service_img {
	width: 432px;
	height: 288px;
	margin-left: 96px;
}

.service_img-reverse {
	width: 432px;
	height: 288px;
	margin-right: 96px;
}


/*================================================
menu
==================================================*/
.menu_ttl-en {
	width: 194px;
	display: block;
	margin: 0 auto;
}

.menu_slider {
	margin: 80px 0;
}

.slider-for {
    max-width: 600px;
    margin: 0 auto;
    padding-bottom: 5px;
}

.slider-nav {
    max-width: 600px;
    margin: 0 auto;
}

.slider-nav img {
    width: 100%;
}

.slick-slide img {
    display: block;
    width: 100%;
}

/*================================================
price
==================================================*/
.price_ttl-en {
	width: 186px;
	display: block;
	margin: 0 auto;
}

.price_img-pc {
	width: 709px;
	display: block;
	margin: 0 auto;
	padding-top: 80px;
}

.price_img-sp {
	display: none;
}

/*================================================
faq
==================================================*/
.faq_ttl-en {
	width: 138px;
	display: block;
	margin: 0 auto;
}

.contents_contain {
	margin: 80px 0;
}

.faq_accordion {
	border-radius: 8px;
	margin-bottom: 20px;
	background-color: #F0F0F0;
}

.faq_question, .faq_answer {
	padding: 16px 32px;
	border-radius: 8px;
}

.faq_question {
	position: relative;
}

.faq_question::after {
	content: "";
	display: block;
	background-image: url(../images/arrow.png);
	background-size: contain;
	width: 16px;
	height: 8px;
	position: absolute;
	top: 0;
	right: 24px;
	bottom: 0;
	margin: auto;
}

.faq_answer {
	border-radius: 8px;
	display: none;
}

/*================================================
contact
==================================================*/
.contact_ttl-en {
	width: 292px;
	display: block;
	margin: 0 auto;
}

input, textarea {
	width: 100%;
	border: 1px solid #72727B;
	padding: 10px 20px;
	border-radius: 4px;
	margin: 8px 0 24px 0;
}

textarea {
resize: none;
height: 200px;
}

.contact-submit {
	display: block;
	margin: 0 auto;
	width: 280px;
	height: 50px;
	background-color: #35353C;
	color: #fff;
	font-size: 16px;
	letter-spacing: 0.06em;
	font-weight: bold;
	text-align: center;
	border-radius: 35px;
}

.contact-submit:hover {
	opacity: 0.8;
}



/*================================================
footer
==================================================*/
.footer {
	width: 100vw;
	height: 27vw;
	background-image: url(../images/footer-bg-pc.png);
	background-size: cover;
	background-position: center bottom;
	background-repeat: no-repeat;
	text-align: center;
	margin-top: 190px;
	padding-top: 250px;
	padding-bottom: 20px;
}

.footer_area {
	height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.footer a {
	color: #35353C;
	text-decoration: none;
}

.footer_logo {
	display: block;
	margin: 0 auto;
	width: 153px;
}

.instagram {
	margin: 22px 0;
}

.instagram:hover {
	opacity: 0.8;
}

.footer_list-pc li {
	display: inline-block;
	color: #35353C;
	font-size: 14px;
	margin: 0 22px 22px 22px;
}

.footer_list-pc li:hover {
	opacity: 0.8;
}

.copyright {
	color: #35353C;
	font-size: 12px;
}


/*================================================
SP/Tablet : 画面の横幅が768pxまで
==================================================*/
@media screen and (max-width:768px){

	/* header */
	.header {
	  height: 85px;
	  padding: 20px;
	  justify-content: left;
	}


	.header_list-pc {
		display: none;
	}

	.header_mypage-txt {
		display: none;
	}

	.header_accout-wrap {
		display: flex;
		margin: 10px 0 0 0;
	}

	/* ハンバーガーメニュー */
	#menu-button {
		display: block;
		width: 60px;
		height: 60px;
		padding: 6px 18px 34px 18px;
	}

	.menu-button-inner {
		position: relative;
		display: block;
		width: 100%;
		height: 100%;
	}

	.menu-button-inner span {
		display: block;
		width: 100%;
		height: 2px;
		background-color: #fff;
		position: absolute;
		transition: all 0.5s ease;
	}
	
	.bar1 {
		top: 0;
	}
	
	.bar2 {
		top: 0;
		bottom: 0;
		margin: auto;
	}
	
	.bar3 {
		bottom: 0;
	}


	.bar1.open {
		top: 10px;
		transform: rotate(45deg);
	}

	.bar2.open { 
		opacity: 0; 
		}
  

	.bar3.open {
		top: 10px;
		transform: rotate(-45deg);
	}
  
	/* スマホ用メニューのスタイル */
	.gnav-sp-wrap {
		display: none;
		width: 100vw;
		height: 100vh;
		background-color: #A99780;
		position: fixed;
		z-index: 5;
		padding-top: 100px;
	}
	
	ul.gnav-sp li {
		margin: 10px 0 18px 56px;
		list-style: none;
	}
	
	ul.gnav-sp li a {
		font-size: 16px;
		letter-spacing: 0.1em;
		color: #35353C;
		font-weight: bold;
		text-decoration: none;
	}

	ul.gnav-sp li a span {
		font-size: 14px;
		letter-spacing: 0.1em;
		color: #35353C;
		font-weight: normal;
		text-decoration: none;
	}

    /* scrooldown */
	.arrowWrap {
		position: absolute;
		right: 0;
		left: 0;
		bottom: 110px;
		height: 200px;
	}

	.arrow {
		position: absolute;
		height: 100px;
		right: 0;
		left: 0;
		margin: 190px auto 0;
	}

	/* bg-gray */
	.mainvisual .bg-gray {
		background-image: url(../images/bg-1-sp.png);
		top: 80%;
		height: 200px;
		background-position: right;
	}
	
	.service .bg-gray {
		background-image: url(../images/bg-2-sp.png);
		top: -2%;
		height: 1904px;
		background-position: center;
	}
	
	.price .bg-gray {
		background-image: url(../images/bg-3-sp.png);
		top: -3%;
		height: 1051px;
		background-position: center;
	}
	
	.footer .bg-gray {
		background-image: url(../images/bg-4-sp.png);
		top: 0;
		height: 269px;
	}

	/* mainvisual */
	.section-inner{
		padding: 0 20px;
		max-width: 550px;
		margin-top: 80px;
	}

	.mainvisual {
		height: 160vw;
	  	background-image: url(../images/mainvisuial-sp.png);
	}

	.mainvisual_copy-wrap {
		height: 13.0rem;
	}
	
	.mainvisual_content-ttl {
		display: block;
		text-align: center;
		font-size: 30px;
	}

	.mainvisual_content-ttl span {
		display: block;
	}

	.mainvisual_content-txt {
		font-size: 16px;
	}

	/* about */
	.about_ttl-en {
		width: 139px;
	}

	.section-ttl {
		font-size: 20px;
	}

	.section-ttl span {
		display: block;
	}

	.description {
		font-size: 14px;
	}

	.description span {
		display: inline;
	}

	.about_img-pc {
		display: none;
	}

	.about_img-sp {
		display: block;
		width: 100%;
		margin: 24px 0 61px 0;
	}

	/* service */
	.service_ttl-en {
		width: 176px;
	}

	.service_container {
		margin-top: 24px;
		display: block;
	}

	.service_txt-area {
		width: 100%;
	}

	.number {
		width: 78px;
	}

	.txt-lead {
		font-size: 14px;
	}

	.txt-subttl {
		font-size: 18px;
	}

	.underline {
		width: 335px;
	}

	.txt-body span {
		display: inline;
	}

	.service_img {
		margin: 28px 0 0 0;
		width: 100%;
		height: auto;
	}

	.service_container-reverse {
		display: block;
		margin-top: 24px;
	}

	.service_img-reverse {
		margin: 28px 0 0 0;
		width: 100%;
		height: auto;
	}

	/* menu */
	.menu_ttl-en {
		width: 129px;
	}

	.slider-for {
		height: auto;
	}

	/* price */
	.price_ttl-en {
		width: 123px;
	}

	.price_img-pc {
		display: none;
	}
	
	.price_img-sp {
		display: block;
		margin: 0 auto;
		max-width: 335px;
		margin-top: 24px;
	}

	/* faq */
	.faq_ttl-en {
		width: 92px;
	}

	.contents_contain {
		margin: 40px 0;
	}

	/* contact */
	.contact_ttl-en {
		width: 194px;
	}

	/* footer */
	.footer {
		height: 110vw;
		background-image: url(../images/footer-bg-sp.png);
		margin-top: 88px;
		padding-top: 200px;
	
	}

	.footer_list-pc li {
		display: block;
		margin-bottom: 16px;
	}

	.copyright {
		margin-top: 48px;
	}










}


